
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

.post {
	position: relative;
	margin-bottom: $spacer * 4.5;
}

.post-thumbnail {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: 0.5rem;

	a {
		display: block;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.post-content {
	margin-bottom: $spacer * 1.875;

	p {
		line-height: 1.25;
	}
}

.entry-meta {
	background-color: $theme-color;
	color: white;
	font-size: 0.8125rem;
	font-weight: 600;
	font-style: italic;
	line-height: $line-height-lg;
	margin: $spacer * 1.25;
	width: 3.85rem;
	height: 3.85rem;
	border-radius: 50%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.entry-title {
	padding-top: 1rem;
	margin-bottom: 1rem;
	font-size: $h3-font-size;
	color:$heading-color;
	font-weight: 600;
	line-height: $line-height-sm;
}
