
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here extra styles for demo. Thanks!
-----------------------------------------------------------------*/
.container-fluid {
	overflow: hidden;
}

.error-404 {
	background-image: url(../images/404.png);
	padding-top: 34.125rem;
	padding-bottom: 10.25rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.btn-primary {
	font-style: italic;
	color: white;
	text-transform: uppercase;

}