
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/

// Textarea
textarea {
    resize: none;
}

// Required field
.required-field {
    position: relative;
}

.form-control {
    font-style: italic;
    border-radius: 4px !important;
}

.rounded-2 {
    border-radius: 20px !important;
}

// Widget - Subscribe
#widget-subscribe-form {
    .input-group-append {
        margin-left: -2rem;
    }
}