
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/

.fbox {	
	flex: 1;
	position: relative;
	margin-bottom: $spacer * 1.875;

	&:not(:last-child) {
		@include media-breakpoint-up(lg) {
			border-right: 1px solid #282828;
		}
	}

	.fbox-icon {
		margin-bottom: $spacer * 1.375;
	}
}