
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: $spacer * 2; 
	position: relative;

	.title {		
		display: block;
		font-family: $heading-font;
		font-weight: 700;
		font-style: italic;
		line-height: 1;
		margin-bottom: 0;
		font-size: 2.8rem;
	}
}